/* start custom scss snippet */

/* end custom scss snippet */

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display:none;
  cursor: pointer;
  user-select:none;
}

/* small screens */
@media screen and (max-width: 44em) {
  #search-button {
    display: none;
  }
  .header--dark {
    background: #123;
  }
  nav[role="custom-dropdown"] {
    ul {
      display:none;
      height:100%;
    }

    label {
      position: inherit;
      display: block;
      font-size: 1.1em;
      margin: 0;
    }

    label:after {
      position: absolute;
      right: .25em;
      top: 0;
      content:"\2261";
      font-size:1.8em;
      color: #ffffff;
    }

    input[type=checkbox]:checked ~ ul {
      display:block;

      > li {
        width:100%;
        opacity:1;
        text-align:left;

        &:after {
          position:absolute;
          right:.25em;
          font: bold 1.4em sans-serif;
        }
      }
    }
  }
}
